@import url("spinner.css");

:root {
    --sliderwidth: 0;
}

h1, h2, h3, nav ul, p {
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style-type: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000;
}

h1, h2, h3 {
   font-family: 'Playfair Display', serif;
   font-weight: 600;
   margin-bottom: .6em;
   color: #404040;
}
p {
    margin-bottom: 1em;
    line-height: 1.5em;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #B51515;
    font-weight: 700;
}
a:hover {
    text-decoration: underline;
    color: #0B28A0;
    transition: all 1s;
}

#page {  
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

header{
    padding-top: 0;
    height: 150px;
    text-align: center;
    position: relative;
}

header h1 {
    width: 100%;
    font-size: 9vw; 
    /* font-size: 34px; */
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

header h1 span {
    color: #B51515;
}

header nav {
    /* width: 100%; */
    max-width: 390px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 75px 1fr;
    justify-content: center;
}
header nav ul li {
    padding: 0 15px;
}

header nav ul #pause {
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    place-content: center;
}

#paws {
    width: 75px;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: #B51515;
    padding: 5px 0px;
    text-transform: uppercase;
    /* font-size: 4vw; */
    font-size: 15px;
    border-bottom: 1px solid #fff;
    font-weight: 300; 
}

header nav ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #0B28A0;
    color: #0B28A0;
    transition: all 1s;
}

footer{
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
footer p {
    margin: 0;
    color: #000;
    font-size: 14px;
}

#work {
    height: calc(100vh - 250px);
    position: relative;
}

#slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
   /*  transition: all 60s linear; */
}

#slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}

@keyframes moveSlider {
    from { left: 0; }
    to { left: var(--sliderwidth) }
}
.animate {
    animation-name: moveSlider;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hidden {
    top: -2000px;
    opacity: 0;
}

.showing {
    top: 200px;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
}

#page article {
    box-sizing: border-box;
    position: absolute;
    width: 85%;
    height: calc(100vh - 250px);
    padding: 20px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    overflow-x: scroll;
    background: rgba(230, 237, 230, 1);
}

img.positioned {
    width: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.align-right {
    float: right;
    display: block;
    margin-left: 10px;
}
#about .content-image {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

#exhibitions ol {
    list-style-type: none;
    padding: 0;
}

#exhibitions ol li {
    margin-bottom: 1em;
   
}

span.title {
    color: #0B28A0;
    font-weight: 700;
}

/*********** Projects Styles ************/

 .cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {  margin-bottom: 50px; }

.card img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
}

/*********** Contact Form Styles ************/



#contactform input, label, textarea {
    display: block;
}

label {
    margin-bottom: 5px;
}
input, textarea {
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitBtn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#B51515;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.submitBtn:hover {
	background-color:#c62d1f;
}
.submitBtn:active {
	position:relative;
	top:1px;
}

#message {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,0.7);
    height:100%;
    color: #fff;
}

.error, .success {
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    padding:30px;
    box-sizing: border-box;
}

.error {
    background:#B51515;
}

.success {
    background:rgba(82,162,20,1.00);
}

.preloader {
    text-align:center;
    padding-top:100px;
}

.hide-message {
    display:none;
}

.show-message {
    display:block;
}

#message h3 {
    color: #fff;
}

@media only screen and (min-width: 320px) {
    header h1 {
        font-size: 34px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        padding-top: 50px;
    }
    header h1 {
        font-size: 60px;
        top: 50px;
    }

    header nav {
        max-width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        padding-left: 40px;
    }
    header nav ul #pause {
        padding: 0 20px;
    }
   
    #work {
        height: calc(100vh - 300px);
    }

    #page article {
        height: calc(100vh - 300px);
        top: 200px;
        max-width: 550px;
    }

    .card {
        display: flex;
        align-items: flex-start;
    }
    
    .card img {
        width: 100px;
        height: auto;
        margin: 0 15px 0 0;
    }
   
}

@media only screen and (min-width: 775px) {
    header nav ul li a {
        font-size: 24px;
        font-weight: 100;
    }

    header nav ul {
        padding-left: 61.62px;
    }
}

